<div class="row ">

    <div class="card l-bg-cherry" style=" background-color: #6c7b88; color: white;">
        <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i style="font-size:110px" class="fa">&#xf274;</i></div>
            <div class="mb-4">
                <h5 class="card-title mb-0">Available Medicine</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0" id="active">

                    </h2>
                </div>

            </div>

        </div>

    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card l-bg-blue-dark" style=" background-color: #6c7b88; color: white;">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-capsules"></i></div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Total Medicine</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0" id="total">

                        </h2>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>


<button type="button" class="btn btn-success" style="color: #ffffff; " data-bs-toggle="modal"
    data-bs-target="#modalMedicineCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
    Add New Medicine
</button>

<button type="button" title="Cart list" class="btn btn-primary" id="cartModalOpen" style="color: #ffffff; width: 50px;"
    data-bs-toggle="modal" data-bs-target="#modalCart">

    <i class="fa-solid fa-cart-shopping"></i>
    <div id="cartNum"></div>
</button>





@Html.Partial("PartialMedicine/CreateMedicine")
@Html.Partial("PartialMedicine/MedicineCard")
@Html.Partial("PartialMedicine/MedicineUpdate")
@Html.Partial("PartialMedicine/MedicineAddStock")
@Html.Partial("PartialMedicine/MedicineDetails")
@Html.Partial("PartialMedicine/MedicineStockHistory")
@Html.Partial("PartialMedicine/Cart/ModalAddCart")
@Html.Partial("PartialMedicine/Cart/ModalCartList")


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    var selectedMedicine;
    var selectedMedicineId;
    var MedicineList = {};
    var medicname;
    var medicunits;
    var stats = [];
    var TotalArr = [];
    var arr = {};
    var cQuantity;
    var quants;
    var cartArr = [];

    var selectedStockId;
    var selectedStock;

    var detailedId;



    $(document).ready(function () {

        var userType = sessionStorage.getItem('userType');
        if (userType === null) {
            window.location.href = "/Page/SIGN";
        }
        else {
            if (userType === "patient") {
                window.location.href = "/User/StudentHealthProfile";
            }
        }

        populateIndex();
        populateCart();

        getMedicine();
        getCategory();








        function populateIndex() {

            $.ajax("../api/adminapi/getAllMedicine")
                .done(function (result) {

                    document.querySelector(".parentstab").innerHTML = "";
                    //list of active medicine



                    var activeMedicines = [];
                    activeMedicines = result.filter(function (item) {
                        return item.status === "Active";
                    });
                    AcMedicineList = [];
                    AcMedicineList = activeMedicines;
                    activeMedicines.forEach(function (item) {

                        var template = document.querySelector("template#cardo-container");
                        var parent = document.querySelector(".parentstab");
                        var cloned = template.content.cloneNode(true);



                        cloned.querySelector(".card .card-title").innerHTML = item.medicineName;
                        cloned.querySelector(".card .card-subtitle").innerHTML = "Category Name : " + item.categoryName;
                        cloned.querySelector(".card .card-units").innerHTML = "Dosage: " + item.units + item.dosage;
                        cloned.querySelector(".card .card-stock").innerHTML = "Stock : " + item.stock;
                        cloned.querySelector(".card .card-status").innerHTML = "Status : " + item.status;
                        cloned.querySelector(".card .card-datepurchased").innerHTML = "Datepurchased : " + item.purchaseDate;
                        cloned.querySelector(".card .card-expirydate").innerHTML = "ExpiryDate : " + item.expiryDate;
                        // cloned.querySelector(".card .card-description").innerHTML = "Description : " + item.description;



                        cloned.querySelector(".updateMed").setAttribute("data-medicineId", item.medicineId);
                        cloned.querySelector(".updateMed").setAttribute("data-medicineName", item.medicineName);

                        cloned.querySelector(".deleteMed").setAttribute("data-medicineId", item.medicineId);
                        cloned.querySelector(".infoMed").setAttribute("data-medicineId", item.medicineId);
                        cloned.querySelector(".addStock").setAttribute("data-medicineId", item.medicineId);
                        cloned.querySelector(".stockHistory").setAttribute("data-medicineId", item.medicineId);

                        cloned.querySelector(".addtocart").setAttribute("data-medicineId", item.medicineId);

                        // cloned.querySelector("#checkoutBtn").setAttribute("data-medicineId", item.medicineId);
                        parent.prepend(cloned);
                    });
                });

            // getMedicine();
        }




        function getMedicine() {
            $.ajax("../api/adminapi/getAllMedicine")
                .done(function (result) {

                    //total medicine
                    TotalArr = result;
                    // $("#total").html("Total Medicine :(" + TotalArr.length + ")");
                    $("#total").html(TotalArr.length);
                    //list of active medicine
                    var activeMedicines = [];
                    activeMedicines = result.filter(function (item) {
                        return item.status === "Active";
                    });
                    // $("#active").html(" Active Medicines: (" + activeMedicines.length + ")");
                    $("#active").html(activeMedicines.length);

                    //list of expired
                    var formattedDate = new Date().toISOString().slice(0, 10);
                    console.log("date now" + formattedDate);

                    var expiremedicine = {};

                    expiremedicine = result.filter(function (item) {
                        return item.expiryDate <= formattedDate;
                    });



                    var statusInactive = expiremedicine.length > 0 ? "Expired" : "Active";





                    // console.log(statusInactive);

                    expiremedicine.forEach(function (item) {
                        arr = item;
                    });
                    console.log(arr);

                    var conversion =
                    {
                        MedicineId: arr.medicineId,
                        Category: arr.categoryId,
                        MedicineName: arr.medicineName,
                        MedicineStock: arr.stock,
                        Units: arr.units,
                        Status: arr.status,
                        Datepurchased: arr.purchaseDate,
                        Expirydate: arr.expiryDate,
                        Description: arr.description,
                        Dosage: arr.dosage

                    }


                    $.ajax
                        ({
                            url: "../api/adminapi/UpdateExpireMed",
                            type: "POST",
                            data:
                            {
                                upmedic: conversion,
                                stats: statusInactive
                            },
                        })
                        .done(function () {
                            //populateIndex();
                        });


                    //   $("#expired").html(expiremedicine.length);
                    //   $("#expiredna").html("Inactive Medicines: (" + expiremedicine.length + ")");



                    MedicineList = result;
                    result.forEach(function (item) {


                        medicname = item.medicineName;
                        medicUnits = item.units;



                    });

                });
        }

        function getCategory() {
            $.ajax("../api/adminapi/getAllCategories")
                .done(function (result) {
                    var template = document.querySelector("template#categoryOptionTemplate");

                    var parent = document.querySelectorAll("#catSelect");

                    for (i = 0; i < parent.length; i++) {
                        result.forEach(function (item) {
                            var cloned = template.content.cloneNode(true);
                            cloned.querySelector("option").value = item.id;
                            cloned.querySelector("option").innerText = item.categoryname;

                            parent[i].prepend(cloned);
                        });
                    }
                });
        }


        $("#createMedicine").click((e) => {

            console.log("yehey na click jyud ko");
            // console.log(equipname);

            var arrData = {}; //ayaw ni tan dug kani dre nga line
            var formelements = $("#createMedicineForm .form-group");

            //getting the data from the form
            var formInputs = $("#createMedicineForm").serializeArray();
            formInputs.forEach(function (item) {
                arrData[item.name] = item.value;
            });

            //if (formInputs.length === formelements.length && formInputs[0].value !== '') 
            if (formInputs[0].value !== '' && formInputs[1].value !== '' && formInputs[2].value !== '' && formInputs[3].value !== '' && formInputs[4].value !== '' && formInputs[5].value !== '' && formInputs[6].value !== '') {

                if (formInputs[0].value != medicname) {
                    //AJAX ADD Equipment
                    console.log(formInputs);
                    $.ajax
                        ({
                            url: "../api/adminapi/AddMedicine",
                            type: "POST",
                            data:
                            {
                                addmedic: arrData,
                                Status: "Active"
                            },
                        })
                        .done(function () {

                            $("#createMedicineForm")[0].reset();
                            $("#modalMedicineCreate").modal("toggle");
                            getMedicine();
                            displaySavedProgress();
                            populateIndex();
                            populateIndexInactive();

                        });
                } else {
                    vol1();
                }


            }
            else {
                alertError();
            }
        });

        $(".updateMed, .updateMeds").click(function () {
            $("#modalMedicineUpdate").modal("toggle");

        });



        $(".parentstab, .parents").delegate(".updateMed ,.updateMeds", "click", function (e) {
            var i = e.target.closest("a").getAttribute("data-medicineId");
            console.log("The value is " + i);

            if (i != null) {
                selectedMedicineId = i;
                selectedMedicine = MedicineList.find(element => element.medicineId == i);

                oFormObject = document.forms["updateMedicineForm"];
                $("#modalMedicineUpdate").modal("toggle");
                initForm(oFormObject, selectedMedicine);
                console.log(MedicineList);

                console.log(selectedMedicine.description);
                $("textarea").html(selectedMedicine.description); //magamit rani siya sa text area , h1 and etc og sa labels


                console.log(selectedMedicine.dosage);
                $("#dosg").val(selectedMedicine.dosage); //gamiton ni basta input field og select option

                console.log("i was clicked");




            }
        });



        function initForm(form, data) {

            Object.getOwnPropertyNames(data).forEach(function (item) {

                var currentElem = form.elements[item.charAt(0).toUpperCase() + item.slice(1)];

                if (currentElem == null) { return; }

                if (currentElem.tagName == "SELECT") {
                    var selectChildren = Array.from(currentElem.children);
                    var matchedOpt = selectChildren.find(opt => opt.value == selectedMedicine.categoryId);
                    if (matchedOpt) {
                        matchedOpt.selected = true;
                    }
                } else {
                    form.elements[item.charAt(0).toUpperCase() + item.slice(1)].setAttribute("value", data[item]);
                }

                //if (data.status == "Active") {
                //     $('.stat').prop('checked', true);
                // }

                // else {
                //     $('.stat').prop('checked', false);
                // }



            });


        }

        $("#updateMedicinebtn").click((e) => {
            alertSaveChanges();


        });

        function alertSaveChanges() {
            Swal.fire({
                title: 'Do you want to save the changes?',
                confirmButtonText: 'Save',
                showCancelButton: true,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    updateMedicineHolder();
                    setTimeout(function () { location.reload(); }, 100);
                }
            })
        }


        function updateMedicineHolder() {
            var arrData = {};

            var formelements = $("#updateMedicineForm .form-group");

            var formInputs = $("#updateMedicineForm").serializeArray();
            console.log(formInputs);
            formInputs.forEach(function (item) {
                arrData[item.name] = item.value;
            });

            //attempts to give value to the data
            arrData.medicineId = selectedMedicineId;
            console.log(arrData);

            var formattedDate = new Date().toISOString().slice(0, 10);

            if (arrData.ExpiryDate >= formattedDate) {
                arrData.Status = "Active";
            } else {
                arrData.Status = "Expired";
            }


            var updatemed =
            {
                MedicineId: arrData.medicineId,
                Category: arrData.CategoryName,
                MedicineName: arrData.MedicineName,
                MedicineStock: arrData.Stock,
                Units: arrData.Units,
                Status: arrData.Status,
                Datepurchased: arrData.PurchaseDate,
                Expirydate: arrData.ExpiryDate,
                Description: arrData.Description,
                Dosage: arrData.Dosage


            }

            if (formInputs[0].value !== '') {

                $.ajax
                    ({
                        url: "../api/adminapi/updateMedicine",
                        type: "POST",
                        data:
                        {
                            upmedic: updatemed
                        },
                    })
                    .done(function () {
                        // document.querySelector(".parent").innerHTML ="";
                        $("#modalMedicineUpdate").modal("toggle");
                        $("#updateMedicineForm")[0].reset();
                        populateIndex();
                        getMedicine();
                    });


            } else {
                alertError();
            }


        }




        $("#modalMedicineUpdateClose").click(function () {
            $("#updateMedicineForm")[0].reset();
        });


        $(".parentstab, .parents").delegate(".deleteMed ,.deleteMeds", "click", function (e) {
            var i = e.target.closest("a").getAttribute("data-medicineId");
            console.log("salamat sa pag click");

            if (i != null) {
                selectedMedicineId = i;
                console.log(selectedMedicineId + "mao ni siya");
                alertDeleteConfirmation();

            }
        });

        function alertDeleteConfirmation() {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to Delete this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    proceedDelete();
                }
            })
        }


        function proceedDelete() {
            console.log(selectedMedicineId + "proceed");
            //AJAX DELETE DEPARTMENT
            $.ajax
                ({
                    url: "../api/adminapi/deleteMedicine",
                    type: "POST",
                    data:
                    {
                        id: selectedMedicineId
                    },
                })
                .done(function () {
                    populateIndex();
                    populateIndexInactive()
                    alertDeleteInfo();
                });
        }

        $(".parentstab, .parents").delegate(".addStock ,.addStocks", "click", function (e) {
            var i = e.target.closest("a").getAttribute("data-medicineId");
            console.log(i);

            var cStock;
            var inputStock;

            if (i != null) {
                selectedMedicineId = i;
                selectedMedicine = MedicineList.find(element => element.medicineId == i);
                console.log("selected medicine" + selectedMedicine);
                $("#modalMedicineStock").modal("toggle");

                $(".cardInfo .info-title").html('Medicine Name: ' + selectedMedicine.medicineName);
                $(".cardInfo .info-Stocks").html('Current Stocks : ' + selectedMedicine.stock);


                //GET THE DATA FROM MODAL
                $("#addMedicineStockBtn").click((e) => {

                    var arrData = {};

                    var formelements = $("#addMedicineStockForm .form-group");
                    //getting the data from the form
                    var formInputs = $("#addMedicineStockForm").serializeArray();
                    formInputs.forEach(function (item) {
                        arrData[item.name] = item.value;
                    });

                    var conversion =
                    {
                        MedicineId: selectedMedicine.medicineId,
                        Category: selectedMedicine.categoryId,
                        MedicineName: selectedMedicine.medicineName,
                        MedicineStock: selectedMedicine.stock,
                        Units: selectedMedicine.units,
                        Status: selectedMedicine.status,
                        Datepurchased: selectedMedicine.purchaseDate,
                        Expirydate: selectedMedicine.expiryDate

                    }
                    console.log("mao nis" + conversion);

                    if (formInputs.length === formelements.length && formInputs[0].value !== '') {
                        cStock = selectedMedicine.stock;




                        inputtedStock = $("#inputStock").val();

                        if (inputtedStock <= 0) {

                            console.log("Error try adding positive integers");
                        }
                        else {



                            var date = new Date(Date.now());
                            var date1 = date.toLocaleString();
                            //AJAX ADD STOCK
                            $.ajax
                                ({
                                    url: "../api/adminapi/addStockMedicine",
                                    type: "POST",
                                    data:
                                    {
                                        selmed: conversion,
                                        iStock: inputtedStock,
                                        date: date1.toString()
                                    },
                                })
                                .done(function () {
                                    // document.querySelector(".parent").innerHTML ="";
                                    populateIndex();
                                    populateIndexInactive();

                                    getMedicine();

                                });

                            $("#modalMedicineStock").modal("toggle");
                            $("#modalMedicineStock")[0].reset(); //para dili oo duplicate inig pa display

                        }
                    } else {
                        alertError();
                    }
                });

            }
        });


        //PRODUCT INFORMATION MODAL
        $(".parentstab, .parents").delegate(".infoMed, .infoMeds", "click", function (e) {
            var i = e.target.closest("a").getAttribute("data-medicineId");
            console.log(i);

            if (i != null) {
                selectedMedicineId = i;
                selectedMedicine = MedicineList.find(element => element.medicineId == i);
                $("#modalMedicineInfo").modal("toggle");

                $(".cardInfo .info-title").html(selectedMedicine.medicineName);
                $(".cardInfo .info-Description").html('Medical Description : ' + selectedMedicine.description);

            }
        });


        //history display data

        $(".parentstab, .parentst").delegate(".stockHistory ,.stockHistorys", "click", function (e) {
            var i = e.target.closest("a").getAttribute("data-medicineId");

            if (i != null) {
                selectedMedicineId = i;
                selectedMedicine = MedicineList.find(element => element.medicineId == i);
                $("#modalStockHistory").modal("toggle");

                $(".cardInfo .info-title").html(" " + selectedMedicine.medicineName);
                $(".cardInfo .info-Stocks").html("Stocks: " + selectedMedicine.stock);

                $.ajax("../api/adminapi/viewStockHistory")
                    .done(function (result) {
                        $.ajax(
                            {
                                url: "../api/adminapi/viewStockHistory",
                                type: "POST",
                                data:
                                {
                                    id: selectedMedicineId
                                },
                            })
                            .done(function (result) {
                                if (result.length == 0) {
                                    var template = document.querySelector("template#card-viewstock");
                                    var parent = document.querySelector(".parentHistory");
                                    var cloned = template.content.cloneNode(true);

                                    cloned.querySelector(".stockHis").innerHTML = "NO ADDED STOCK FOUND <br>";

                                    parent.prepend(cloned);
                                }
                                else {
                                    result.forEach(function (item) {
                                        var template = document.querySelector("template#card-viewstock");
                                        var parent = document.querySelector(".parentHistory")
                                        var cloned = template.content.cloneNode(true);

                                        if (item.addedStock.toString().includes('-')) {
                                            cloned.querySelector(".stockHis").innerHTML = "Deducted" + "&nbsp;&nbsp;" + item.addedStock + "&nbsp;&nbsp; stock" + " on " + item.date + "<hr>";

                                        } else {

                                            cloned.querySelector(".stockHis").innerHTML = "Added" + "&nbsp;&nbsp;" + item.addedStock + "&nbsp;&nbsp; stock" + " on " + item.date + "<hr>";
                                        }

                                        parent.prepend(cloned);
                                    });
                                }
                            });

                    });
            }
        });

        //close history
        $("#modalStockHistoryClose").click(function () {
            $(".stockContent").find("div.stockHis").text("");
        });




        $('#AsearchText').on("input", function () {
            var searchedItem = $(this).val();

            //console.log(searchedItem);

            var search = AcMedicineList.filter(element => element.medicineName.toLowerCase().includes(searchedItem.toLowerCase()) || element.medicineName.toUpperCase().includes(searchedItem.toUpperCase()) &&
                element.categoryName.toLowerCase().includes(searchedItem.toLowerCase()) || element.categoryName.toUpperCase().includes(searchedItem.toUpperCase())
            );
            //console.log(sear);

            document.querySelector(".parentstab").innerHTML = "";
            search.forEach(function (item) {
                var template = document.querySelector("template#cardo-container");
                var parent = document.querySelector(".parentstab");
                var cloned = template.content.cloneNode(true);

                cloned.querySelector(".card .card-title").innerHTML = item.medicineName;
                cloned.querySelector(".card .card-subtitle").innerHTML = "Category Name : " + item.categoryName;
                cloned.querySelector(".card .card-units").innerHTML = "Units: " + item.units;
                cloned.querySelector(".card .card-stock").innerHTML = "Stock : " + item.stock;
                cloned.querySelector(".card .card-status").innerHTML = "Status : " + item.status;
                cloned.querySelector(".card .card-datepurchased").innerHTML = "Datepurchased : " + item.purchaseDate;
                cloned.querySelector(".card .card-expirydate").innerHTML = "ExpiryDate : " + item.expiryDate;
                // cloned.querySelector(".card .card-description").innerHTML = "Description : " + item.description;



                cloned.querySelector(".updateMed").setAttribute("data-medicineId", item.medicineId);
                cloned.querySelector(".updateMed").setAttribute("data-medicineName", item.medicineName);

                cloned.querySelector(".deleteMed").setAttribute("data-medicineId", item.medicineId);
                cloned.querySelector(".infoMed").setAttribute("data-medicineId", item.medicineId);
                cloned.querySelector(".addStock").setAttribute("data-medicineId", item.medicineId);
                cloned.querySelector(".stockHistory").setAttribute("data-medicineId", item.medicineId);
                cloned.querySelector(".addtocart").setAttribute("data-medicineId", item.medicineId);


                parent.prepend(cloned);
            });


        });





        function populateCart() {
            $.ajax("../api/adminapi/popCart")
                .done(function (item) {
                    cartArr = item;
                    $("#cartNum").html("(" + cartArr.length + ")");

                });
        }











        //ADD TO CART SECTION
        $(".parentstab").delegate(".addtocart", "click", function (e) {
            var i = e.target.closest("a").getAttribute("data-medicineId");
            console.log("na click jyud ang buang");

            if (i != null) {

                selectedMedicineId = i;
                selectedMedicine = MedicineList.find(element => element.medicineId == i);

                $("#modalAddCart").modal("toggle");

                $(".cardInfo .info-title").html('<center>' + selectedMedicine.medicineName + '</center>');
                $(".cardInfo #info-dosage").html('<center>' + selectedMedicine.units + '&emsp;' + selectedMedicine.dosage + '</center><br>');
                $(".cardInfo .info-Stocks").html('Current Stocks : ' + selectedMedicine.stock);

                cQuantity = selectedMedicine.stock;

            }
        });






        //DETECTING INPUT FROM ADD CART FORM
        $("#addCart").on("input", function () {

            quants = $(this).val();   //take note of this

            quants > cQuantity ? document.getElementById("addCart").value = cQuantity : console.log(cQuantity);

        });


        //CLICKING CLOSE BUTTON OF ADD TO CART MODAL
        $("#modalAddCartClose").click(function () {
            $("#addCartForm")[0].reset();
            quants = 0;
            //console.log(cartPrice);
        });



        //CONFIRM ADD TO CART
        $("#addCartBtn").click((e) => {
            //ADD TO CART
            if (quants <= 0 || quants == null) {
                alert("Invalid");
            }
            else {
                var testCart =
                {
                    medicineId: selectedMedicine.medicineId,
                    cQuantity: quants,
                    cMockStock: selectedMedicine.stock - quants
                }

                var found = cartArr.find(element => element.medicineId == testCart.medicineId);
                if (found != null) {
                    //API UPDATE
                    if (found.mockStock < testCart.cQuantity) {
                        alert("You already have a total of " + found.quantity + " quantity of this product. Automatically updated to the maximum purchase limit.");

                        found.quantity = cQuantity;
                        found.mockStock = cQuantity - found.quantity;

                        var resHold =
                        {
                            medicineId: found.MedicineId,
                            cQuantity: found.quantity,
                            cMockStock: found.mockStock,
                            cartId: found.cartId
                        }

                        $.ajax
                            ({
                                url: "../api/adminapi/updateCart",
                                type: "POST",
                                data:
                                {
                                    ct: resHold

                                },
                            })
                            .done(function (item) {
                                //cartArr.push(item);
                                populateCart();
                            });
                    }
                    else {
                        var newQuantVal = 0;
                        var newMockStock = 0;

                        newQuantVal = parseInt(found.quantity) + parseInt(testCart.cQuantity);
                        found.quantity = newQuantVal;

                        newMockStock = parseInt(selectedMedicine.stock) - parseInt(newQuantVal);
                        found.mockStock = newMockStock;

                        var resHold =
                        {
                            medicineId: found.medicineId,
                            CQuantity: found.quantity,
                            CMockStock: found.mockStock,
                            cartId: found.cartId
                        }

                        console.log('reshold', resHold)
                        console.log("asd", testCart.cQuantity)
                        $.ajax
                            ({
                                url: "../api/adminapi/updateCart",
                                type: "POST",
                                data:
                                {
                                    ct: resHold


                                },
                            })
                            .done(function (item) {
                                //cartArr.push(item);
                                //console.log("1" + cartArr);
                                populateCart();
                                //console.log("1" + item);
                            });
                    }
                }
                else {
                    $.ajax
                        ({
                            url: "../api/adminapi/addCart",
                            type: "POST",
                            data:
                            {
                                ct: testCart
                            },
                        })
                        .done(function (item) {
                            populateCart();
                        });
                }

            }

            $("#addCartForm")[0].reset();

            quants = 0;

        });



        //POPULATING THE ADDED CART TO THE LIST
        $("#cartModalOpen").click(function () {
            populateCartList();

        });





        function populateCartList() {
            document.querySelector(".parentCart").innerHTML = "";
            //    document.getElementById("checkoutBtn").disabled = true;




            //populateIndex();
            cartArr.forEach(function (item) {

                detailedId = item.medicineId;
                var template = document.querySelector("template#card-container-cart");
                var parent = document.querySelector(".parentCart");
                var cloned = template.content.cloneNode(true);


                cloned.querySelector(".card .card-title").innerHTML = item.medicineName;
                cloned.querySelector(".card .card-body").innerHTML = "Dosage : " + item.units + "&emsp;" + item.dosage;
                cloned.querySelector(".card .card-stock").innerHTML = item.quantity;



                cloned.querySelector(".stockMinus").setAttribute("data-medicineId", item.medicineId);
                cloned.querySelector(".stockPlus").setAttribute("data-medicineId", item.medicineId);
                cloned.querySelector(".deleteCart").setAttribute("data-medicineId", item.medicineId);

                parent.prepend(cloned);
            });

            if (cartArr.length <= 0) {
                $(".infoCart .showT").html('No cart item');
                $(".labelCart").hide();



            }









        }



        $("#patientFull, #illnesss").on("change", function () {
            check();
        });




        function check() {
            var patientSelected = document.getElementById("patientFull").selectedOptions.length > 0;
            var illnessSelected = document.getElementById("illnesss").selectedOptions.length > 0;


            if (patientSelected && illnessSelected) {
                document.getElementById("checkoutBtn").disabled = false;
            } else {
                document.getElementById("checkoutBtn").disabled = true;
            }
        }






        //MAG ADD TAG STOCKS MGA HIGALA
        $(".parentCart").delegate(".stockPlus", "click", function (e) {

            console.log("hi mj na click na")

            var i = e.target.closest("a").getAttribute("data-medicineId");
            if (i != null) {
                selectedStockId = i;
                selectedStock = cartArr.find(element => element.medicineId == i);

                var stock = selectedStock.quantity;
                var cartStock = selectedStock.stock;


                if (selectedStock.stock >= parseInt(stock) + 1) {
                    var newQuantVal = parseInt(stock) + 1;
                    var newMockStock = parseInt(cartStock) - parseInt(newQuantVal);

                    selectedStock.quantity = parseInt(newQuantVal);
                    selectedStock.mockStock = parseInt(newMockStock);

                    var resHold =
                    {
                        medicineId: selectedStock.medicineId,
                        CQuantity: selectedStock.quantity,
                        CMockStock: selectedStock.mockStock,
                        cartId: selectedStock.cartId
                    }

                    $.ajax
                        ({
                            url: "../api/adminapi/updateCart",
                            type: "POST",
                            data:
                            {
                                ct: resHold
                            },
                        })
                        .done(function (item) {
                            populateCart();
                        });

                    populateCartList();

                }
            }
        });



        //MAG MINUS TAG STOCKS
        $(".parentCart").delegate(".stockMinus", "click", function (e) {
            var i = e.target.closest("a").getAttribute("data-medicineId");
            if (i != null) {
                selectedStockId = i;
                selectedStock = cartArr.find(element => element.medicineId == i);

                var stock = selectedStock.quantity;
                var cartStock = selectedStock.stock;

                if (parseInt(stock) - 1 > 0) {
                    var newQuantVal = parseInt(stock) - 1;
                    var newMockStock = parseInt(cartStock) - parseInt(newQuantVal);

                    selectedStock.quantity = parseInt(newQuantVal);
                    selectedStock.mockStock = parseInt(newMockStock);

                    var resHold =
                    {
                        medicineId: selectedStock.medicineId,
                        CQuantity: selectedStock.quantity,
                        CMockStock: selectedStock.mockStock,
                        cartId: selectedStock.cartId
                    }

                    $.ajax
                        ({
                            url: "../api/adminapi/updateCart",
                            type: "POST",
                            data:
                            {
                                ct: resHold
                            },
                        })
                        .done(function (item) {
                            populateCart();
                        });

                    populateCartList();

                }
            }
        });



        //MAG DELETE TAG GI CART BORDS
        $(".parentCart").delegate(".deleteCart", "click", function (e) {
            var i = e.target.closest("a").getAttribute("data-medicineId");
            if (i != null) {
                selectedStockId = i;
                selectedStock = cartArr.find(element => element.medicineId == i);

                const index = cartArr.indexOf(selectedStock);

                var x = cartArr.splice(index, 1);

                //delete cartArr[index];
                //cartArr.slice(index);
                if (cartArr.length <= 0) {
                    $(".infoCart .showT").html('No cart item');
                    $(".infoCart .labelCart").style.display = 'none';
                }





                //get the cartid value from cart to delete
                var cartDel = selectedStock.cartId;
                $.ajax
                    ({
                        url: "../api/adminapi/deleteCart",
                        type: "POST",
                        data:
                        {
                            cartId: cartDel
                        },
                    })
                    .done(function (item) {
                        populateCart();
                    });

                populateCartList();
            }
        });



        $("#checkoutBtn").click(function (e) {



            // Get the select element
            var patientSelect = document.getElementById('patientFull');
            var illnessSelect = document.getElementById('illness');
            var inputDTT = document.getElementById('inputDTT');
            var inputHM = document.getElementById('inputHM');

            // Check if any option is selected
            if (patientSelect.selectedOptions.length > 0 && illnessSelect.selectedOptions.length > 0 && inputDTT.value.trim() !== '' && inputHM.value.trim() !== '') {

                console.log('At least one option is selected.');


                saveLogbook(patientSelect.value, illnessSelect.value, inputDTT.value, inputHM.value);

            } else {
                console.log('No option is selected.', detailedId);



            }

        });






        //SAVE THE ORDERS TO DATABASE
        function saveLogbook(patient, illness, inDTT, inHM) {
            logbookID = 0;
            var date = new Date(Date.now());
            var date1 = date.toLocaleString();




            //insert the data first to array
            var logbookHolder =
            {
                patientId: parseInt(patient),
                medicineId: detailedId,
                illnessId: parseInt(illness),
                daystotake: inDTT,
                hmtotake: inHM,
                datetimePrescribe: date1
            }

            console.log('data to saved: ', logbookHolder);


            $.ajax
                ({
                    url: "../api/adminapi/savetoLogbook",
                    type: "POST",
                    data:
                    {
                        ord: logbookHolder
                    },
                })
                .done(function (item) {
                    logbookID = item;
                    saveLogbookDetails();
                });


        }


        function saveLogbookDetails() {
            //get the value of cart arr and insert only the needed items
            cartArr.forEach(function (item) {
                holdLogbookArr =
                {
                    logbookid: logbookID,
                    medicineId: item.medicineId,
                    quantity: item.quantity,


                }

                var nStock = item.mockStock;
                var date = new Date(Date.now());
                var date1 = date.toLocaleString();

                //  console.log("details logbook: ",holdLogbookArr)

                //save this to orderdetails and also update the new stock
                $.ajax
                    ({
                        url: "../api/adminapi/savetoLogbookDetails",
                        type: "POST",
                        data:
                        {
                            ordtls: holdLogbookArr,
                            mStock: nStock,
                            date: date1
                        },
                    })
                    .done(function (item) {
                        //AFTER ANI KAY MAG CLEAR NATAS CART
                        //ALSO, MAG MINUS TA SA STOCKS
                        clearCart();
                    });
            });

        }


        function clearCart() {
            $.ajax("../api/adminapi/clearCart")
                .done(function (item) {
                    populateCart();
                    populateIndex();
                });
        }















        function alertDeleteInfo() {
            Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
            )
        }


        function vol1() {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Inputted name is already in the data',
            })
        }
        function alertError() {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Input the necessary elements!',
            })
        }

        function displaySavedProgress() {
            Swal.fire({
                icon: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1500
            })

        }




    });// ayaw ni hilabte mga mother fucker
</script>



<style>
    .card {
        background-color: #fff;
        border-radius: 1px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
    }



    .card .card-statistic-3 .card-icon-large .fas,
    .card .card-statistic-3 .card-icon-large .far,
    .card .card-statistic-3 .card-icon-large .fab,
    .card .card-statistic-3 .card-icon-large .fal {
        font-size: 110px;
    }

    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000000;
        position: absolute;
        right: -5px;
        top: 20px;
        opacity: 0.3;
    }
</style>